<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<header>
    <% include /Users/sean/code/tacos/views/partials/header.ejs %>
</header>

<main>
    <div>
        <h1>Welcome!</h1>
        <p> <a href="/tacos">Taco</a>or <a href="/piroshkis">Piroshki</a>?</p>
    </div>
</main>

<footer>
    <% include /Users/sean/code/tacos/views/partials/footer.ejs %>
</footer>

</body>
</html>